@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-semibold bg-[#d8d8d8] cursor-default;
  }
  html,
  form,
  label,
  input {
    font-family: Poppins, sans-serif;
  }

  input {
    @apply border-[3px] border-black !important;
  }

  input:focus {
    @apply bg-blue-200;
  }

  input,
  label {
    font-weight: 400;
    z-index: 50;
  }

  h2 {
    @apply font-medium;
  }
}

.fade-animation {
  animation-name: Fade;
  animation-duration: 4s;
  opacity: 0;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 100;
  }

  80% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

.filter-gray {
  filter: invert(99%) sepia(6%) saturate(42%) hue-rotate(152deg)
    brightness(113%) contrast(78%);
}

.filler-blue {
  filter: invert(37%) sepia(90%) saturate(1114%) hue-rotate(199deg)
    brightness(102%) contrast(93%);
}
